In [1]:
import pandas as pd
import numpy as np

In [7]:
path = '/Users/thainam/Documents/GitHub/grey-model/prediction/Final/LSTM_1.csv'

In [8]:
data = pd.read_csv(path1)

In [9]:
data.head(20)

    Unnamed: 0      True  LSTM Prediction  Loss_LSTM
0            0  0.055730         0.085063   0.561529
1            1  0.119399         0.137416   0.525594
2            2  0.186942         0.199579   0.492183
3            3  0.269601         0.267954   0.461082
4            4  0.359658         0.353856   0.432123
5            5  0.444127         0.445464   0.405038
6            6  0.587215         0.532744   0.379553
7            7  0.705440         0.682028   0.355437
8            8  0.805881         0.808169   0.332514
9            9  0.914992         0.916493   0.310673
10          10  1.000000         1.034663   0.289797
11          11       NaN              NaN   0.269835
12          12       NaN              NaN   0.250740
13          13       NaN              NaN   0.232487
14          14       NaN              NaN   0.215070
15          15       NaN              NaN   0.198496
16          16       NaN              NaN   0.182774
17          17       NaN              NaN   0.167920
18          18       NaN              NaN   0.153953
19          19       NaN              NaN   0.140889

In [12]:
true = data.iloc[:11, 1:2].values
print(true)

[[0.05573021]
 [0.11939919]
 [0.1869423 ]
 [0.26960084]
 [0.35965832]
 [0.44412689]
 [0.58721539]
 [0.70543965]
 [0.80588105]
 [0.91499158]
 [1.        ]]

In [13]:
pred = data.iloc[:11, 2:3].values
print(pred)

[[0.08506252]
 [0.13741556]
 [0.19957869]
 [0.2679545 ]
 [0.35385567]
 [0.44546402]
 [0.5327443 ]
 [0.68202823]
 [0.8081688 ]
 [0.9164935 ]
 [1.0346625 ]]

In [14]:
print(type(true), type(pred))

<class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [15]:
true = true * 37552
print(true)

[[ 2092.78079451]
 [ 4483.67851132]
 [ 7020.05728621]
 [10124.05068115]
 [13505.88904766]
 [16677.85310089]
 [22051.11250834]
 [26490.66971516]
 [30262.44501604]
 [34359.76399606]
 [37552.        ]]

In [16]:
print(round(true))

TypeError: type numpy.ndarray doesn't define __round__ method

In [17]:
true = np.round(true)
print(true)

[[ 2093.]
 [ 4484.]
 [ 7020.]
 [10124.]
 [13506.]
 [16678.]
 [22051.]
 [26491.]
 [30262.]
 [34360.]
 [37552.]]

In [18]:
pred = np.round(pred * 37552)
print(pred)

[[ 3194.]
 [ 5160.]
 [ 7495.]
 [10062.]
 [13288.]
 [16728.]
 [20006.]
 [25612.]
 [30348.]
 [34416.]
 [38854.]]